@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: rgb(157, 167, 138);
  font-family: 'Open Sans', sans-serif;
  color:black;
  font-size: medium;
  line-height: 50px;
  font-weight: 300;
}

h1 {
  color:darkslategray;
  font-family:'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color:darkolivegreen;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

a{
  color:rgb(60, 90, 60);
  text-decoration: none;
  font-size: 60px;
  font-weight: 500;
  display: inline-block;
}

#img-circle{
  border-radius: 60%;
}

button{
  color:darkslategray;
  text-decoration: wavy;
  font-size: 32;
}

a:hover{
  background-color: thistle;
}

.container {
  display: inline-block;
  width: 900px;
  vertical-align: middle;
  padding: 30px;
  margin: 30px auto;
}
.card {
  text-align: center;
  background:#F1DECE;;
  border: 1px solid lightgrey;
  margin: 0 auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-top: 50px;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
