@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: rgb(157, 167, 138);
  font-family: 'Open Sans', sans-serif;
  color:black;
  font-size: medium;
  line-height: 50px;
  font-weight: 300;
}

h1 {
  color:darkslategray;
  font-family:'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color:darkolivegreen;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

a{
  color:rgb(60, 90, 60);
  text-decoration: none;
  font-size: 60px;
  font-weight: 500;
}

#img-circle{
  border-radius: 60%;
}

div{
  background-color: darkgray;
  width: 700px;
  margin: 20px auto;
  padding: 32px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  text-align: center;
}

button{
  color:darkslategray;
  text-decoration: wavy;
  font-size: 32;
}

a:hover{
  background-color: thistle;
}

.container {
  margin: 40 auto;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}

.card-white {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(60, 90, 60);
}
.list-inline i:hover {
  color: black;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(60, 90, 60);
}
.list-inline i:hover {
  color: black;
}

#introduction p {
  margin-bottom: 40px;
}
